
{% extends 'base.html' %}
{% load static %}
{% block title %}Travel Adventures{% endblock %}
{% block content %}



            <div id="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>Travel Adventures</h2>
                                <span><a href="{% url 'index' %}">Home</a> / <a href="{% url 'travel_adventure' %}">Travel Adventures</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="timeline-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>AMERICAN CUISINE</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/Bluckers1.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/IN-N-OUT1.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/longhorn2.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/Longhorn1.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/torchys-tacos2.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/Whataburger 1.png" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>There are a lot of good restaurants at Austin/Texas but my family favourites are listed below:</p>

<p>&nbsp;</p>

<p><strong>1) In-N-Out:&nbsp;</strong>&nbsp;In-N-Out is the Most Popular Fast Food Chain in Texas. It&nbsp;is an American regional chain of fast food restaurants with locations primarily in California and the Southwest. It was founded in Baldwin Park, California, in 1948 by Harry Snyder and Esther Snyder.</p>

<p><strong>2)&nbsp;</strong><strong>Whataburger</strong>: is an American privately held, regional fast food restaurant chain, headquartered and based in San Antonio, Texas, that specializes in hamburgers. The company, founded by&nbsp;Harmon Dobson&nbsp;and Paul Burton, opened its first restaurant in Corpus Christi, Texas, in 1950.</p>

<p><strong>3) Torchy&#39;s:&nbsp;&nbsp;</strong>A popular Tex-Mex chain from Austin, Texas, Torchy&#39;s at Midtown East is their first East coast location out of nearly 100 in the country, primarily Texas! Started by Chef Mike Rypka in a food trailer, Torchy&#39;s is known for their &ldquo;Damn Good&rdquo; tacos and queso as proclaimed in some of the store signage!</p>

<p><strong>4) Longhorn Steakhouse:&nbsp;&nbsp;</strong>LongHorn Steakhouse is an American multinational casual dining restaurant chain owned and operated by Darden Restaurants, Inc., headquartered in Orlando, Florida. As of 2016, LongHorn Steakhouse generated $1.6 billion in sales in its 559 locations.</p>




                        </div>
                        <div class="col-md-6">
                            <p><strong>5) Pluckers:&nbsp;</strong>&nbsp;Pluckers is locally grown, started by a couple UT grads. The original Pluckers is still on Rio Grande west of campus. This is pretty much a fried paradise, fried pickles and addictive fried twinkies can round out your meal if you&#39;re feeling extra adventurous.</p>

                            <b><p>My Kids Vs Longhorn Steakhouse:</p></b>

<p>&nbsp;</p>

<p>Whenever you ask my kids what do you want to eat? they will immediately answer: steakhouse!!</p>

<p>&nbsp;</p>

<p>The steak is so delicious, tender and juicy. Perfectly seasoned with salt and black pepper. It serves with two sides as you choose. My kids love Caesar Salad with steamed veggies.&nbsp; Steak might not be the first food to come to mind when putting together a healthy menu. In moderation, steak provides benefits that can help meet your nutritional needs. Replacing processed meats with freshly cooked steak (especially when it&#39;s grass-fed) is a good step towards improving your eating habits. The fat and protein content of steak will vary depending on the cut of meat and how it&#39;s prepared. The following nutrition information is provided by the USDA&nbsp;for 3 ounces (85g) of grilled beef tenderloin, with the fat trimmed. Eating enough protein is essential, and steak&nbsp;is an excellent source. Research shows that unprocessed meats, like steak, are superior choices when compared to processed meat.</p>

                        </div>
                    </div>




                </div>
            </div>


            <div id="our-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Our Team</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="authors">
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="{% static '' %}images/20F0E884-FD6D-41B7-A67E-DC4F9AEFD893.JPG" alt="Tracy - templatemo" style="width:100%; height:160px;">
                                    </div>

                                 </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="{% static '' %}images/49C4551F-27FA-4B10-84A9-0841D3166F4C.JPG" alt="Mary - templatemo" style="width:100%; height:160px;">
                                    </div>

                                 </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="{% static '' %}images/IN-N-OUT2.jpg" alt="Julia - templatemo" style="width:100%; height:160px;">
                                    </div>

                                 </div>

                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="team-thumb">
                                    <div class="author">
                                        <img src="{% static '' %}images/Pluckers2.jpg" alt="Linda - templatemo" style="width:100%; height:160px;">
                                    </div>

                                 </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




























            <div id="timeline-post" style="margin-top:20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Indian Top Restaurants in Austin/ Texas</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/1.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/2.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/3.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/54097.JPEG" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/biryani_co_yelp.0.0.0.webp" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/bombay_express_thali.0.0.0.webp" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6">

                            <p>There&rsquo;s a strong case to be made for excellent Indian, Bangladeshi, Pakistani, and Nepalese food in Austin. The number of South Asian restaurants and food trucks keeps growing in the city, with places offering curries, dosas, fried pakoras, and sweets. There are a lot of good Indian restaurants in Austin/ Texas but when it comes to spices I have a little problem with my kids and husband.</p>

<p><strong>1) Tarka Indian Kitchen:&nbsp;</strong>The City of Austin has&nbsp;recognized Tarka as a Green Restaurant. They use environmentally friendly to-go packaging, recycle our used cooking oil, glass, aluminum, plastic &amp; cardboard, and compost our food waste.Their first store opened in Austin in 2009, and from that moment on, their guests have been almost as passionate about Tarka as they are. They have the right balance of curries, kabobs, biryanis, and freshly baked flatbreads.</p>

<p><strong>2) Bombay Express:&nbsp;</strong>In far north Austin, Bombay Express serves up daily specials catering with both northern and southern regional fare, with many dosas. Opt for the weekday meal specials or weekend thalis, where diners can order two different curries with rice, dal, and salad.</p>

<p><strong>3) Biryani &amp; Co:&nbsp;</strong>The Indian rice dish is the star of the Arboretum restaurant, with biryanis filled with eggs, paneer, chicken, goat, shrimp, and more. Plus there are plentiful dosas, weekend-only steamed rice cakes, and tandoor.</p>




                        </div>
                        <div class="col-md-6">
                            <p><strong>4) Swad Indian Restaurant:&nbsp;</strong>The Thali special at this vegetarian restaurant is the best way to try a little bit of everything. Swad is also home to the best dosas in town.</p>

<p><strong>5) Saffron Indian &amp; Nepalese Cuisine:&nbsp;</strong>Another take on Indian, Pakistani, and Nepalese food, Saffron&rsquo;s menu includes the intriguing Darjeeling green tea creme brulee.</p>
                        	<p style="margin-top:25px;"><strong>My Kids Vs Tarka Indian Kitchen</strong></p>

<p>Every time we visit this restaurant to eat, my kids love to choose from the vegetarian section where there is an amazing selection of fresh vegetarian and vegan dishes spiced and served with perfectly cooked and seasoned basmati rice. Aside from this, I still remember asking the chief for the way how to make the rice yellow. He described some food coloring options to buy so, what happened is I went to the nearest Indian shop and I purchased the yellow color. My daughter LuLu was still a baby and somehow she opened the bottle and colored everything including her face and hand!! It tooks me nearly 3 days to clean the mess and remove the yellowness from her hand. Enjoy the tiny hand!!</p>

                        </div>
                    </div>




                </div>
            </div>

























            <div id="timeline-post" style="margin-top:20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Asian Top Restaurants in Austin/Texas</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/1asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/2asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/3asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/4asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/5asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/2asian.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6">

                            <p>For anyone who is willing to make the drive up to Asia Cafe in North Austin, they have the best Chinese food in Austin IMO. Generous portions, affordable, and this is where my parents will eat.&nbsp; If you like spicy, hot &amp; spicy lamb or the spicy fish fillet. It&rsquo;s their iconic dishes but I personally opt for the braised pork and spicy beef noodle soup.&nbsp;</p>

<p><strong>My Top 5 Asian Restaurants in Austin:</strong></p>

<p><strong>1) 101 BY TEAHOUSE:&nbsp;</strong>My favorite Taiwanese beef noodle soup in Austin is at 101 By Teahouse. I wouldn&rsquo;t recommend their bubble tea but the beef noodle soup is stellar.&nbsp;</p>

<p>2)&nbsp;<strong>LI HOT POT</strong>:I love hot pot but the options in Austin were always kind of pricey so I was thrilled to find Li Hot Pot. The soup base is $7.99 &ndash; $8.99 and then you pick your add-ins. I like supreme beef, supreme marbled meat, pig blood, sweet bone, napa cabbage, frozen tofu, king oyster mushroom, and potato starch noodles.I recommend getting the half and half pot that comes with both regular broth and spicy broth so you can dip from both. Hot pot is best enjoyed with a couple of friends where you can share the pot and it ends up being about $10 a person! There&rsquo;s nothing like steaming hot pot with cold beer.</p>



                        </div>
                        <div class="col-md-6">
                            <p>3)<strong>MAMA FU&rsquo;S:&nbsp;</strong>Yes,&nbsp; It&rsquo;s American-Chinese food but it&rsquo;s pretty cheap and it&#39;s a convenient takeout. Not everything is good on the menu but still I recommend&nbsp; sesame chicken, lo mein, and wonton soup.</p>

<p>4)<strong>OLD THOUSAND:&nbsp;</strong>If you want to take someone on a date that includes Chinese food, I recommend Old Thousand on the East side. It&rsquo;s a hip spot with a cocktail bar. Happy time is Monday to Friday from 5 &ndash; 6:30pm with food discounts and 50% off all bottles of wine.</p>

<p><strong>5)THE PEACHED TORTILLA:&nbsp;</strong>The Peached Tortilla serves Southern/Asian comfort food with a more casual lunch menu of tacos, tostadas, and bowls. I personally like the dinner menu more, specifically the lush pork belly bowl, dan dan noodles, and Hainan chicken. I think Peached is the only place in Austin that you can get Hainan chicken and it&rsquo;s SO good with the ginger scallion dipping sauce.You can also book The Peached Tortilla food truck for events and weddings.&nbsp;</p>


                        </div>
                    </div>




                </div>
            </div>














            <div id="timeline-post" style="margin-top:20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>European Top Restaurants in Austin/Texas</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/efefe.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/erfed.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/tnryn.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/vfewfwe.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/vrwerfrvf.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/wef.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6">
<p>I have always asked myself what&#39;s healthier: cr&ecirc;pes or pancakes? The answer is: A single cr&ecirc;pe has less fat and calories than pancakes because they don&#39;t have the baking powder and, so, are less dense. However, they&#39;re not less calorific if you&#39;re stacking up double the amount of cr&ecirc;pes vs pancakes, so bear this in mind before you get carried away. My Top 5 European restaurants are listed below:</p>

<p><strong>1)&nbsp;</strong><strong>Justine&rsquo;s Brasserie:</strong>&nbsp;This restaurant, located deep off East 5th street, is the Moulin Rouge of the French restaurants in Austin, and the East side may as well be Montmartre. While the other French restaurants in Austin&nbsp;personify the simple yet detailed and refined French esthetic, Justine&rsquo;s Brasserie is unapologetically chic and rowdy, with phenomenal food.</p>

<p><strong>2)&nbsp;P&eacute;ch&eacute;:&nbsp;&nbsp;</strong>4 out of 5 stars Restaurants Warehouse District. Prove to your beloved ones that you have great taste by treating them to an evening at P&eacute;ch&eacute;. Located in Austin&rsquo;s Warehouse District, P&eacute;ch&eacute; serves classic French fare with a nod to 19th-century New Orleans via a dim, chandelier-lit space and a pre-Prohibition-inspired cocktail menu with a considerable absinthe selection.</p>

<p><strong>3)&nbsp;Hopfields:&nbsp;&nbsp;</strong>Offering a diverse, yet decidedly French menu, Hopfields uses fresh, seasonal ingredients to create its offerings, ranging from cheeses to steak frites to chicken liver mousse, lamb meatballs, and duck confit for dinner. Weekend brunch options include the classic croque madame and jambon buerre, which is a combination of Parisian ham, French butter, cornichons, baguette, greens, and a Dijon vinaigrette.</p>

                        </div>
                        <div class="col-md-6">


<p><strong>4)&nbsp;Le Politique:&nbsp;&nbsp;</strong>Le Politique is my favorite one. The decor is absolutely stunning, the food is fantastic, and for many people it may not just be their favorite French restaurant in Austin, it may be their favorite restaurant period (at least favorite new restaurant). They have a fabulous raw bar where you can enjoy fresh shucked oysters, caviar, shrimp, lobster, and crab, as well as french classics such as french onion soup, escargot, croque madame, tartines, and steak frites.</p>

<p><strong>5)&nbsp;Fabi + Rosi:&nbsp;</strong>&nbsp;This French European dining experience in Austin, Texas brings sustainable and locally sourced food to the table with a distinctly French twist. Try delectable escargot and glamorous wine blends at this French restaurant in combination with the chic and cultured dining experience for a fabulously fine meal.</p>

<p><strong>My Kids Vs&nbsp;Sweet Paris Creperie &amp; Cafe</strong></p>

<p>My kids&#39; favourite breakfast!! It&nbsp;is an excellent creperie at the Domain. Good selection of both sweet and savory crepes. We&rsquo;ve visited a few times and enjoyed everything we tried. Cool ambiance. Helpful staff. I like the location for people watching, as well.</p>


                        </div>
                    </div>




                </div>
            </div>











            <div id="timeline-post" style="margin-top:20px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Mediterranean top Restaurants in Austin/Texas</h2>
                                <img src="{% static '' %}images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/ddddddd.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/IMG_1434.JPG" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/IMG_1435.JPG" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/IMG_1714.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/IMG_1716.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="timeline-thumb">
                                <div class="thumb">
                                    <img src="{% static '' %}images/wdwdwd.jpg" alt="" style="width:100%; height:160px;">
                                </div>

                             </div>
                        </div>
                    </div>
                    <div class="space50"></div>
                    <div class="row">
                        <div class="col-md-6">

                            <p>Austin might not immediately be thought of as a great place to grab some Mediterranean food, but there are a ton of delicious eateries all over town to indulge in fluffy pitas and succulent gyros.From build-your-own-bowls, Chipotle-style at MezzeMe Mediterranean to traditional Persian fare at Pars Deli, there are so many different ways to enjoy the bounty of the Mediterranean cuisine. Below our favorite ones.</p>

<p><strong>1)&nbsp;Dimassi&#39;s Mediterranean Buffet:&nbsp;</strong>Good selection of salads and meats. Every Saturday evening, they have a weekend special of endless lamb shanks on the buffet. All the mid-eastern standards, Tabouli, three types of hummus, fruits, vegetable dishes, hot fresh Pita bread, chicken, beef, lentils and Baklava!<br />
Great variety, very clean, reasonably priced.</p>

<p><strong>2)&nbsp;MezzeMe:</strong>&nbsp;Mediterranean, Turkish, Middle Eastern, Greek, Israeli, It&#39;s our favourite restaurant. Taste something known with something new. At Mezzeme they offer unique, exciting dishes that live in the spirit of old-world Turkish Mediterranean cuisine but boast local flare. Farm-Fresh and Locally Sourced they believe cooking with healthy, locally sourced food is not only good for the body but good for the community. Their recipes are designed with farm-fresh ingredients obtained during local harvesting seasons.</p>

                        </div>
                        <div class="col-md-6">

<p><strong>3) Darna Mediterranean Cuisine:&nbsp;</strong>&nbsp;Mediterranean, Moroccan, Middle Eastern, Lebanese, Turkish, Greek. Beautifully decorated restaurant specializing in Mediterranean and Moroccan cuisines in the heart of downtown Austin, one block from the Texas State Capitol. The restaurant seems too beautiful to be true! They went all out bringing the beauty of Moroccan colors and patterning to Austin, and created an extremely pleasant, comfortable refuge you&#39;ll want to linger in. The staff is very welcoming and the food is delicious &mdash;&nbsp;my family loved the lamb tajine, hummus and pita was the kid-pleaser, and I particularly liked the zaalouk. A great, modestly-priced place for lunch or dinner!</p>

<p><strong>4) Zoe&#39;s Kitchen:&nbsp;</strong>They have Gluten Free Options. Fresh salads, sandwiches, fruit and veggies ordered from the counter and delivered to your table. There is both inside and outside seating and it&rsquo;s in a park-like setting.</p>

<p><strong>5) Balkan Cafe &amp; Grill:</strong>&nbsp;Enjoy traditional Serbian fare from owner Živojin Zekic and his family at this North Lamar eatery. Heads up, carnivores&mdash;the sudžukice, spicy sausage links, are full of veal and beef and awesome Balkan spices.</p>

                        </div>
                    </div>




                </div>
            </div>




{% endblock %}